*.iml
.gradle
/local.properties
.idea/codeStyles/Project.xml
.idea/misc.xml
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

### Gems
.idea/kotlinc.xml
fastlane/README.md
fastlane/report.xml
Gemfile.lock
.bundle
vendor/
