*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

### Gems
android/.bundle/
/Gemfile
/Gemfile.lock
/vendor/
.bundle/
.idea/kotlinc.xml
fastlane/Pluginfile
fastlane/README.md
fastlane/report.xml
